@import "tailwindcss";

:root {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: medium;
}

body {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}